# Python virtual environment
venv/
__pycache__/
*.py[cod]
*.pyo

# Python package management
*.egg-info/
dist/
build/

# Dependency lock files
uv.lock

# PyProject artifacts
.pytest_cache/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
